/*=======================================
        Global Styling
=======================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

/*=======================================
        Reuseable Styling Start
=======================================*/
.container {
    width: 1200px;
    margin: 0 auto;
}

/*=======================================
        Players Section Styling Start
=======================================*/
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
    background-color: bisque;
}

.player img {
    width: 100px;
    margin-right: 20px;
}